.checkPrice {
    border-radius: 30px;
    background: var(--white, #fff);
    box-shadow: 0px 0px 25px 0px rgba(151, 151, 151, 0.2);
}

label {
    position: relative;
    top: 20px;
    font-size: 20px;
    margin-left: 15px;
    font-weight: 500;
    transition: all 0.3s;
    color: #979797;
    background-color: white;
    /* background-color: #f8f9fa; */
    font-family: Graphik;
    text-transform: capitalize;
}

input {
    width: 251px;
    height: 64px;
    padding: 10px;
    border: 1px solid #979797;
    border-radius: 12px;
}


